// Ref: https://github.com/nuxt-community/vuetify-module#customvariables

$accent: #6a1b9a;

$accent2: #601d89;

$bx-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.2), 0 1px 15px 0 rgba(0, 0, 0, 0.2);

$bg-image-dark-accent: radial-gradient(circle, #1c0430, #14121c, #14121c);

$bg-image-light-accent: radial-gradient(circle, #1c0430, #191526, #191526);

$nf-v-card-bg-color: rgba(17, 17, 17, 0.5);

$tb-header-color: rgba(255, 255, 255, 0.5);

$sub-text-color: rgba(200, 200, 200, 0.7);

$transform-scale-cards: scale(1.04);